.activity-image {
    max-width: 415px;
}

.cool-button-danger {
    border-radius: 8px;
    background-color: rgb(253, 150, 150);
    font-family: 'Damion', cursive;
    padding-left: 8px;
    padding-right: 11px;
}
.fa-drumstick-bite {
    color:rgb(94, 53, 53)
}
.fa-pizza-slice {
    color:rgb(248, 144, 25)
}
.fa-pepper-hot {
    color:green
}
.fa-apple-alt {
    color:rgb(204, 13, 13)
}
.fa-hamburger {
    color:rgb(94, 53, 53)
}
.fa-coffee {
    color:rgb(31, 27, 27)
}
.fa-carrot {
    color:orange
}
.fa-hotdog {
    color:rgb(209, 132, 132)
}
.fa-fish {
    color:rgb(104, 177, 184)
}
