.babyContent {
    max-width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: #ffd2b0;
    background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
}

.babyImage {
    border-radius: 20px;
}

.babyContainer {
    padding: 10px;
}

.yourBabies {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.poop-button-container{
    padding: 8px;
    display:flex;
    justify-content: flex-end;
}

.poopButton {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(145, 114, 114);
}