.yourProfile {
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Arial, Helvetica, sans-serif;

.card {
    width: 140%;
    background-color: rgb(221, 221, 247);
    padding: 15px;
    border-radius: 20px;
    border-style:dotted;
    border-width: 5px;
}

.heading {
    font-weight: 700
}


.yourName {
    font-family: 'Damion', cursive;
    padding: 10px;
}


.image {
    border-radius: 20px;
    width: 100%;
    height: auto;
    
}

.img-container {
    max-width: 180px;
}

.about {
    padding: 4px;
    margin-left: 10%;
}

.description {
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
}

}

.add-desc {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    font-family: 'Damion', cursive;
    padding-left: 8px;
    padding-right: 10px;
}